<table class="table table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
    </thead>

    <tbody>
        {% if request.session.cart.items %}
            {% for key, value in request.session.cart.items %}
                <tr>
                    <td>{{value.title}}</td>
                    <td>
                        <a href="{% url "cart:subtract_product" value.product_id %}"class="btn btn-sm btn-success">-</a>
                        {{value.quantity}}
                        <a href="{% url "cart:add_product" value.product_id %}"class="btn btn-sm btn-success">+</a>
                    </td>
                    <td>{{value.price}}</td>
                </tr>

            {% endfor %}
                <tr>
                    <td colspan="2">Total: ${{total_cart}}</td>
                    {% if user.is_authenticated %}
                    <td colspan="" class="justify-content-center">
                        <a href="{% url "Orders:process_order"%}"class="btn btn-sm btn-success">Buy</a>
                    </td>
                    {% endif %}
                </tr>                 
        {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center">
                        Empty Cart
                    </div>
                </td>
            </tr>

        {% endif %}
    </tbody>





</table>

