{% extends "base_menu.html" %}
{% block content %}
<div class="row">
    <h1 class="col-3">Store</h1>
    <div class="col-9" style="text-align: right;">
    <!-- https://www.w3schools.com/howto/howto_css_search_button.asp -->
        <form>
            <input type="text" placeholder="Search.." name="search"
            {% if search %} value="{{ search }}" {% endif %}
            >
            <button type="submit"><i class="fa fa-search"></i></button>
            <a href="{% url 'store:all' %}"><i class="fa fa-undo"></i></a>
        </form>
    </div>
</div>

<div class="container">
    <div style="float:right;">
        {% include "store/cart.html" %}
    </div>
    <div class="row align-items-start" >
        {% if page_obj %}    
        {% for product in page_obj %}
        <div class="col-9 col-md-3">
                <div class="card" style="width: 100%;margin: 5px 5px;">
                    {% if product.content_type %}
                    <img class="card-img-top" style="width:100%;height:100%;margin-top: 0px; border:0px solid black;" src="{% url 'store:product_picture' product.id %}">
                    {% endif %}
                    <div class="">

                        <div class="card-body">
                            <div class="card-title">
                                <a href="{% url 'store:product_detail'  product.id %}">{{ product.title }}</a>
                                <!-- Two hrefs with two stacked icons each - one showing and one hidden -->
                                <a href="#" onclick=
                                    "favPost('{% url 'store:product_unfavorite' product.id %}', {{ product.id }} );return false;"
                                    {% if product.id not in favorites %} style="display: none;" {% endif %}
                                    id="favorite_star_{{product.id}}">
                                <span class="fa-stack" style="vertical-align: middle;">
                                <i class="fa fa-star fa-stack-1x" style="color: orange;"></i>
                                <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                </a>
                                <!-- the second href -->
                                <a href="#" onclick=
                                    "favPost('{% url 'store:product_favorite' product.id %}', {{ product.id }} );return false;"
                                    {% if product.id in favorites %} style="display: none;" {% endif %}
                                    id="unfavorite_star_{{product.id}}">
                                <span class="fa-stack" style="vertical-align: middle;">
                                <i class="fa fa-star fa-stack-1x" style="display: none; color: orange;"></i>
                                <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                </a>
                            <div  class="card-subtitle mb-2 text-muted">
                                    Price: ${{ product.price }} 
                            </div>
                            <div class="card-link">
                                {% if product.owner == user %}
                                (<a href="{% url 'store:product_update' product.id %}">Edit</a> |
                                <a href="{% url 'store:product_delete' product.id %}">Delete</a>)
                                {% endif %}
                            </div>
                            
                                {% if user.is_authenticated %}

                                {% endif %}
                            </div>
                            

                            <!-- 
                            <div class="card-text">
                                {% if product.text|length < 100 %}
                                    Description: {{ product.text }}
                                {% else %}
                                    Description: {{ product.text|slice:"0:30" }}
                                    <a href="{% url 'well:post_detail'  post.id %}">...</a>
                                {% endif %}
                            </div>

                            <small>
                                {% if product.owner.username %}
                                    posted by {{ product.owner.username }}
                                {% endif %}
                                {{ product.natural_updated }}
                            </small> -->

                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url "cart:add_product" product.id %}"class="btn btn-sm btn-success" >Add to the Cart</a>
                        </div> 


                    </div>
                </div>
        </div>
        {% endfor %}
            
        {% else %}
        <p>There are no products in the database.</p>
        
        {% endif %}

        <!--Pagination if search and normal-->
        {% if search %}
        <nav aria-label="...">
            <ul class="pagination justify-content-center" >
                <li class="">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?search={{ search }}&page=1">First</a>
                        </li>
                        <li>
                            <a class="page-link"href="?search={{ search }}&page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">First </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                    {% endif %}
                    {% for page_obj in page_obj.paginator.get_elided_page_range %}
                        <li class="page-item"><a class="page-link" href="?search={{ search }}&page={{ page_obj }}">{{ page_obj }}</a></li>
                    {% endfor%}
                    <!--<li class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </li>-->
            
                    {% if page_obj.has_next %}
                        <a class="page-link" href="?search={{ search }}&page={{ page_obj.next_page_number }}">Next</a>
                        <a class="page-link" href="?search={{ search }}&page={{ page_obj.paginator.num_pages }}">Last </a>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">Next</a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link">Last </a>
                        </li>
                    {% endif %}
        {% else %}
            <nav aria-label="...">
                <ul class="pagination justify-content-center" >
                    <li class="">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">First</a>
                            </li>
                            <li>
                                <a class="page-link"href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">First </a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                        {% endif %}
                        {% for page_obj in page_obj.paginator.get_elided_page_range %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj }}">{{ page_obj }}</a></li>
                        {% endfor%}
                        <!--<li class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </li>-->
                
                        {% if page_obj.has_next %}
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last </a>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Next</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link">Last </a>
                            </li>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        {% endif %}
    </div>
</div>


<!--
<p>
<a href="{% url 'store:product_create' %}">Add an Product</a> |
{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'store:all' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'store:all' %}">Login</a>
{% endif %}
</p>-->
<script>
function toggleInlineDisplay(star_id) {
    var elem = document.getElementById(star_id);
    if(window.getComputedStyle(elem).display == "inline") {
        elem.style.display = 'none';
        elem.dataset.previousDisplay = 'inline';
    } else if(window.getComputedStyle(elem).display == "block") {
        elem.style.display = 'none';
        elem.dataset.previousDisplay = 'block';
    } else {
        console.log('prev', elem.dataset.previousDisplay);
        if ( typeof elem.dataset.previousDisplay == 'string' ) {
            elem.style.display = elem.dataset.previousDisplay
        } else {
            elem.style.display = 'inline';
        }
    }
}

function favPost(url, thing_id) {
    console.log('POSTing to', url);
    fetch(url, { method: 'POST', body: '{}' } )
    .then((response) => {
        console.log(url, 'finished');
        toggleInlineDisplay("unfavorite_star_"+thing_id);
        toggleInlineDisplay("favorite_star_"+thing_id);
    }).catch((error) => {
        alert('Url failed with '+error+' '+url);
    });
}
</script>
{% endblock %}
